Repository HoshimuraYuto/furiwake: changes, and which lint-staged commands are due for each by the changed paths.
All: gofmt -w, prettier --write

.lintstagedrc.json:

{
  "*.go": ["gofmt -w"],
  "*.{js,ts,json,yaml,yml,md}": ["prettier --write"]
}

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  47b872facf4bfbcc21126ab49c48c88aa4ab7641
Due: none

fix: always force stream:true toward Codex and collect SSE for non-streaming callers
  server_messages_test.go
  translate_chatgpt.go
Due: gofmt -w

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  b2bdfa758a378bae1b98765d3b5d5e4876b2388b
Due: none

feat(docker): add standalone container setup and update devcontainer to compose
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .gitignore
  README.ja.md
  README.md
  docker/.env.example
  docker/Dockerfile
  docker/docker-compose.yml
  docker/setup.sh
Due: prettier --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  5813abe7e4ea3bc049b6157a8c23d3dbf4d60db7
Due: none

feat(devcontainer): add crawl4ai-net network
  .devcontainer/docker-compose.yml
Due: prettier --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  1b76b7d294d58709ce915b0cd33a25d6a39efaf1
Due: none

feat(router): add codex fast preset and priority tier
  .claude/agents/coder.md
  .claude/agents/codex-fast.md
  .claude/agents/codex.md
  README.ja.md
  README.md
  auth.go
  auth_retry_test.go
  config.go
  config_test.go
  furiwake.yaml.example
  passthrough.go
  router.go
  router_test.go
  server.go
  translate_chatgpt.go
  translate_chatgpt_test.go
  translate_stream.go
  types.go
Due: gofmt -w, prettier --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  50e0a842f6b3367fb262a1e118de8f786941151a
Due: none
